<mat-card>
    <mat-card-title>
        Shabnam's Addition Component
    </mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>
                Number One
            </mat-label>
            <input 
                matInput
                type="number"
                [(ngModel)]="numberOne"
            />
        </mat-form-field>
        &nbsp; + &nbsp;
        <mat-form-field>
            <mat-label>
                Number Two
            </mat-label>
            <input 
                matInput 
                type="number"
                [(ngModel)]="numberTwo" 
            />
        </mat-form-field>
        &nbsp;
        <button
            mat-mini-fab
            (click)="add()"    
        >
            =
        </button>
        &nbsp;
        {{ total }}
    </mat-card-content>
</mat-card>