<mat-card>
    <mat-card-title>
        To-Do List
    </mat-card-title>

    <mat-card-content>
        <div
            *ngFor="let td of todos"
        >
            <mat-checkbox
                [(ngModel)]="td.done"
            >
                {{ td.name }}
            </mat-checkbox>
            <br>
        </div>

        <mat-form-field>
            <mat-label>Add To-do item</mat-label>
            <input 
                matInput 
                placeholder="Ex. Dishes"
                [(ngModel)]="newToDoItemText"
            >
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="addItemToList()">Add</button>

    </mat-card-content>

</mat-card>
